# SPDX-FileCopyrightText: 2024 Shell Global Solutions International B.V. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pyelq-sdk"
version = "1.0.8b"
description = "Package for detection, localization and quantification code."
authors = ["Bas van de Kerkhof", "Matthew Jones", "David Randell"]
homepage = "https://sede-open.github.io/pyELQ/"
repository = "https://github.com/sede-open/pyELQ"
documentation = "https://sede-open.github.io/pyELQ/"
readme = "README.md"
license = "Apache-2.0"
keywords = ["gas dispersion", "emission", "detection", "localization", "quantification"]
packages = [{ include = "pyelq", from = "src" }]

[tool.poetry.dependencies]
python = ">=3.9, <3.12"
pandas = ">=2.1.4"
numpy = ">=1.26.2"
plotly = ">=5.18.0"
scipy = ">=1.11.4"
pymap3d = ">=3.0.1"
geojson = ">=3.1.0"
shapely = ">=2.0.2"
scikit-learn = ">=1.3.2"
openmcmc = "==1.0.5"

[tool.poetry.group.contributor]
optional = true

[tool.poetry.group.contributor.dependencies]
black = ">=23.12.1"
isort = ">=5.13.2"
pydocstyle = ">=6.3.0"
pylint = ">=3.0.3"
pytest = "<8.0.0"
pytest-cov = ">=4.1.0"
mkdocs-material = ">=9.5.7"
mkdocstrings-python = ">=1.8.0"

[tool.pytest.ini_options]
addopts = "--cov=pyelq --cov-fail-under=90 --ignore-glob=*plot*"
testpaths = ["tests"]

[tool.coverage.report]
omit = ["*plot*", "*/data_access/*", "*/plotting/*"]
exclude_lines = [".*def.*plot.*", "from pyelq.plotting.plot import Plot"]

[tool.coverage.run]
relative_files = true
source = ["src/"]

[tool.pylint]
fail-under=9.0
max-line-length=120
py-version=3.11

[tool.black]
line-length = 120
target-version = ['py39', 'py310', 'py311']

[tool.pydocstyle]
convention = "google"
add-ignore = ["D105", "D107"]

[tool.isort]
profile = "black"
