# SPDX-FileCopyrightText: 2024 Shell Global Solutions International B.V. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0

name: ManualSonarcloudAnalysis

on:
  workflow_dispatch:

jobs:
  Tests:
    uses: sede-open/pyELQ/.github/workflows/run_tests.yml@main
    needs: CodeFormat

  SonarCloud:
    uses: sede-open/pyELQ/.github/workflows/sonarcloud_analysis.yml@main
    needs: Tests
    secrets: inherit
